<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Comaptible" content="IE-edge">
        <meta name="viewport" content="width-device-width, intial-scaler=1.0">
        <title> USER REGISTRATION </title>
        <link rel="stylesheet" href="css/styleS.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        
        </head>
<body>
    <div class="container">
    <div class= "box">
        <div class ="plog">
        <div class ="log">
            <i class="fa-solid fa-paper-plane"></i>
            <h2>WELCOME</h2>
            <div class ="namec">  TO THE SARVAGYA</div>
            <div class ="pbtn l"><a href="loginP"><button type="submit" class="btn-form">LOGIN</button></a></div>

            <div class="option">
              <div id="btn"></div>
              <button onclick="document.location='registerP'" type="button" class="toggle-btn" >User</button>
              <button onclick="document.location='registerD'" type="button" class="toggle-btn">Govt</button>
              </div>

        </div>
        </div>
        
        <div class ="reg">
            <div class ="reg-box">
            <H1> USER REGISTRATION</H1>
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="pname">NAME </label>
                    <input type="PNAME" class="form-control" id="P-NAME" placeholder=" PATIENT NAME" name="pname">
                  </div>
                <div class="form-group">
                    <label for="age">AGE </label>
                    <input type="AGE" class="form-control" id="P-AGE" placeholder=" AGE" name="age">
                  </div>
                  <div class="form-group">
                    <label for="sex">SEX </label>
                    <input type="PSEX" class="form-control" id="P-SEX" placeholder=" SEX" name="sex">
                  </div>
                <div class="form-group">
                  <label for="emailid">EMAIL ID</label>
                  <input type="EMAIL" class="form-control" id="P-EMAIL" aria-describedby="emailHelp" placeholder=" EMAIL ID" name="email">
                  
                </div>
                <div id="emailhelp" class="form-text">We'll never share your email id with anyone else.</div>
                <div class="form-group">
                  <label for="phoneno">PHONE NO</label>
                  <input type="PPHONE" class="form-control" id="P-PHONE" placeholder=" PHONE NO" name="phone">
                </div>
                <div class="form-group">
                    <label for="aadharno">AADHAR CARD NO</label>
                    <input type="PAADHAR" class="form-control" id="P-AADHAR" placeholder=" AADHAR NO" name="aadhar">
                  </div>
                
                <div class="form-group">
                    <label for="Password">PASSWORD</label>
                    <input type="PPASSWORD" class="form-control" id="P-PASSWORD" placeholder=" PASSWORD" name="password">
                  </div>
                  <div class ="pbtn"><button type="submit" class="btn-form">Register</button></div>
            </form>
            </div> 
                  

        </div>
    </div>
    </div>

</body>
</html>