<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Comaptible" content="IE-edge">
        <meta name="viewport" content="width-device-width, intial-scaler=1.0">
        <title> DOCTOR REGISTRATION </title>
        <link rel="stylesheet" href="css/styleS.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        
        </head>
<body>
    <div class="container">
    <div class= "box">
        <div class ="plog">
        <div class ="log">
            <i class="fa-solid fa-paper-plane"></i>
            <h2>WELCOME</h2>
            <div class ="namec">  TO THE MEDICO WEB CARE</div>
            <div class ="pbtn l"><a href="loginD"><button type="submit" class="btn-form">LOGIN</button></a></div>

            <div class="option">
              <div id="btn-1"></div>
              <button onclick="document.location='registerP'" type="button" class="toggle-btn" >Patient</button>
              <button onclick="document.location='registerD'" type="button" class="toggle-btn">Doctor</button>
              </div>

        </div>
        </div>
        
        <div class ="reg-D">
            <div class ="reg-box">
            <H1> DOCTOR REGISTRATION</H1>
            <form action="/govt" method="POST">
                <div class="form-group">
                    <label for="dname">NAME </label>
                    <input type="DNAME" class="form-control" id="D-NAME" placeholder=" DOCTOR NAME" name="dname">
                  </div>
                <div class="form-group">
                    <label for="age">AGE </label>
                    <input type="AGE" class="form-control" id="D-AGE" placeholder=" AGE" name="dage">
                  </div>
                  <div class="form-group">
                    <label for="sex">SEX </label>
                    <input type="DSEX" class="form-control" id="D-SEX" placeholder=" SEX" name="dsex">
                  </div>
                <div class="form-group">
                  <label for="emailid">EMAIL ID</label>
                  <input type="EMAIL" class="form-control" id="D-EMAIL" aria-describedby="emailHelp" placeholder=" EMAIL ID" name="demail">
                  
                </div>
                <div id="emailhelp" class="form-text">We'll never share your email id with anyone else.</div>
                <div class="form-group">
                  <label for="phoneno">PHONE NO</label>
                  <input type="DPHONE" class="form-control" id="D-PHONE" placeholder=" PHONE NO" name="dphone">
                </div>
                <div class="form-group">
                    <label for="aadharno">AADHAR CARD NO</label>
                    <input type="DAADHAR" class="form-control" id="D-AADHAR" placeholder=" AADHAR NO" name="daadhar">
                  </div>
                  
                <div class="form-group">
                    <label for="aadharfile">UPLOAD AADHAR-CARD</label>
                    <input type="file" class="form-control" id="AADHARFILE">
                  </div>
                 
                <div class="form-group">
                    <label for="Password">PASSWORD</label>
                    <input type="DPASSWORD" class="form-control" id="D-PASSWORD" placeholder=" PASSWORD" name="dpassword">
                  </div>
                  <div class ="pbtn"><button type="submit" class="btn-form">Register</button></div>
            </form>
            </div> 
                  

        </div>
    </div>
    </div>

</body>
</html>