/*-------------------------------------------------the work pART---------------*/
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600&display=swap');
*{

    margin: 0;
    padding: 0;
   
}
/*--------------------logo------------------------------------------*/
.logo{
    margin: 10px;
}
.logo img{
    padding-top: 4px;
}
.sidebar span{
    font-size: 33px;
    padding-left: 7px;
}

/*--------------------logo end------------------------------------------*/
.iv{
    display: flex;
    flex-direction: column;
}
.intro1{
    
    width: 100%;
    height: 100vh;
    padding: 20px;
}
.control i{
    position: absolute;
    cursor: pointer;
    left: 10px;
    top: 10px;
}
.control_message i{
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
}
.sidebar{
    background-color: #cf2210f7;
    color: #080807;
    position: fixed;
    height: 100vh;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Source Serif Pro', serif;
    width: 13%;
    
}
.sidebar img{
    height: 41px;
    border-radius: 40px;
}



.sidebar nav{
    padding: 19px;
    margin-top: 40px;
    height: 100%;
}
.sidebar nav li{
    list-style: none;
    padding-top:25px;
    padding-bottom: 25px;
    font-size: 24px;
}
.sidebar nav a{
    text-decoration: none;
    color: #252452;
}
.sidebar nav a:hover{
    text-decoration: underline;
    transform-style: preserve-3d;
    font-size: 27px;
}
.containersalvin{
    display: flex;
}

.education{
    
    background-color: whitesmoke;
    height: 100vh;
    background-position: center;
    background-size: cover;
    width: 87%;
    margin-left: 13%;
    overflow-y: auto;
   
}
/*--------------------------------------done----------------*/
/*--------------------------------------Home----------------*/
.p-intro{
    text-align: center;
    margin: 2em;
    color: #3f384f;
}
.p-intro h1{
    margin-top: 1rem;
    font-size: 5rem;
    text-align: left;
    margin-left: 2rem;
}
.p-intro h2{
    margin-top: 2rem;
    font-size: 6rem;
    text-align: right;
    margin-right: 5rem;
}
.P-features h2{
    text-align: center;
    text-decoration: underline;
    font-size: 3em;
    margin: 2rem;
    color: #cf2210f7;


}
.f-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}
.f-box{
    text-align: left;
}
.f-box img{
    height: 46vh;
    width: 60vh;
    margin: 1.5rem;
    margin-bottom: -3rem;
    border-radius: 78px 10px 19px 45px;
}
.f-box p span{
    display: block;
    text-align: center;
    padding: 20px;
    font-size: x-large;
    color: #252452;

}
.f-box p{
    padding: 10px;
    display: inline-block;
    background-color: whitesmoke;
    text-align: left;
    height: 14rem;
    width: 28rem;
    margin-left: 19%;
    margin-top: -20%;
    border-radius: 10px;
}
.f-box1{
    text-align: right;
    margin-right: 6%;
}
.f-box1 img{
    height: 46vh;
    width: 60vh;
    margin: 1.5rem;
    margin-bottom: -3rem;
    border-radius: 12px 78px 23px 45px;
}
.f-box1 p span{
    display: block;
    text-align: center;
    padding: 20px;
    font-size: x-large;
    color: #252452;

}
.f-box1 p{
    padding: 10px;
    display: inline-block;
    background-color: whitesmoke;
    text-align: left;
    height: 14rem;
    width: 28rem;
    margin-left: 38%;
    margin-top: -20%;
    border-radius: 10px;
}

/* ---------------------------------------Patient finder---------------------       -----------------------*/
.PDtopic{
    color: black;
    font-style: italic;
    font-family: system-ui;
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
}
.row {
	margin: 20px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #bfc9b852;;
    border-radius: 25px;
    padding: 20px;
    color: black;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.4);
    
}
.work-section a{
    text-decoration: none;
}
.work-section a:hover{
	box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.8);
    font-size: 1.10rem;
    
}



.section-heading{
	font-size:200%;
	color:#000;
	margin-bottom:15px;
}

.technology-image {
	width:20%;
	position:right;
    left: 200px;
	margin-bottom: auto;
	border-radius:50%;
}

.about-heading {
	color:#000;
	font-size:250%;
	font-weight:500;
	margin-bottom:5px;
}

.about-para {
	color:darkred;
	margin-bottom:1px;
	text-align:left;
	font-size: 15px;
}

.about-section {
	padding-bottom:5px;
}
.div-body{
    text-align: right;
    margin-right:2px;

}
/*-------------------------------profile view----------------------------------------------*/
.profile-form{
    height: 100%;
    display: flex;
    width: 100%;
}
.profile-nav{
    position: fixed;
    width: 10%;
    height: 92%;
    background-color: #000000;
    margin-top: 2%;
    transform: translate(44px,0px);
    border-radius: 18px;
}
.profile-nav nav{
    text-align: center;
    text-decoration: none;
    padding: 19px;
    margin-top: 40px;
    height: 100%;
}
.profile-nav nav li{
    list-style: none;
    margin-top: 68%;
    font-size: 40px;
}
.profile-nav nav li i{
    color: white;
}
.profile-nav nav li i:hover{
    color: rgb(198, 189, 29);
}
.profile-info{
    margin: 7% 1%;
    height: 76%;
    width: 100%;
    background-color: #bac6796b;
    
    justify-content: space-between;
}
.profile-workspace{
    display: flex;
    justify-content: space-between;
}
.profile-p-img img{
    height: 25vh;
    width: 32vh;
    margin-top: 10%;
    border-radius: 76px;
    border: 18px solid #cfccd6;
}
.profile-p-img{
    margin-left: 18%;
    margin-top: 2%;
}
.profile-card{
    width: 38%;
    height: fit-content;
    margin-top: 2%;
    margin-right: 1%;
    border: 5px solid #0f467d;
    border-radius: 12px;
}
.main-header{
    
    font-weight: bold;
    font-size: 1.5rem;
    padding: 6px;
}
.card-body table{
    
    font-size: 1.35rem;
    padding: 4px;
}
.card-body table th{
    border: 1px solid #0f467d;
    text-align: left;
    padding: 4px;
    width: 58%;
}
.card-body table td{
    border: 1px solid #0f467d;
    padding-left: 10px;
    padding: 4px;

}
.profile-p-h{
    margin-left: 20%;
}
.profile-harm{
    border: 2px solid #0f467d;
    border-radius: 10px;
    width: 122%;
}
.main-header i{
    margin: 4px;
}
.profile-imp{
    width: 41%;
    margin-top: 2%;
}
.card-imp{
    border: 2px solid #a51b1b;
    border-radius: 20px;
    margin: 10px;
}
.card-imp p{
    padding: 10px;
    padding-left: 38px;
    font-size: 1.10rem;
}

/*------------------------------------------update profile---------------------*/

.profile-container{
    width: 80%;
    margin-left: 20%;
}

/*------------------------------------------update info---------------------*/
.md{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.md label{
    text-align: center;
    font-size: 1.5rem;
    margin: 20px;
}
.md textarea{
    height: 135px;
    padding: 30px;
    margin: auto;
    margin-bottom: 40px;
}

/*------------------form group------------------*/
/*--------------------------------------\\Reports\\\----------------*/
.form-group{
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}
.form-control{
    width: 65%;
    border-radius: 10px;
    height: 31px;
}
.rform h2{
    text-align: center;
    text-decoration: underline;
    margin: 20px;
    font-size: 2rem;
}
.rform{
    margin: auto;
    width: 80%;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,black,white);
    border-radius: 30px;
    transition: .5s;
  }
  .pbtn{
    text-align: center;
}
.btn-form {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 17px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 34px;
    min-width: 0;
    outline: none;
    padding: 8px 23px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 47%;
    will-change: transform;
    
}

.btn-form:disabled {
  pointer-events: none;
}

.btn-form:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn-form:active {
  box-shadow: none;
  transform: translateY(0);
}