/*-------------------------------------------------the work pART---------------*/
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600&display=swap');
*{

    margin: 0;
    padding: 0;
   
}
.iv{
    display: flex;
    flex-direction: column;
}
.intro1{
    
    width: 100%;
    height: 100vh;
    padding: 20px;
}
.control i{
    position: absolute;
    cursor: pointer;
    left: 10px;
    top: 10px;
}
.control_message i{
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
}

.specificfont{
    color: #ef9273;
    font-weight: bold;
}
.specificlow{
    font-size: 40px;
    color: #ef9273;
}
.sidebargo{
    transform: translate(-220px,0px);
    position: absolute;
    
}
.sidebargo1{
    transform: translate(483px,0px);
    
}
.sidebar{
    background-color: #b7caca99;
    color: #6e2918;
    position: absolute;
    height: 100vh;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Source Serif Pro', serif;
    transition: transform 0.4s ease-in;
    opacity: 0.9;
    width: 13%;
    
}
.sidebar1{
    background-color: #b7cacafa;
    position: absolute;
    height: 100vh;
    font-family: 'Source Serif Pro', serif;
    transition: transform 0.6s cubic-bezier(0.4, 0, 1, 1);
    right: 0px;
    width: 30%;
}
.sidebar button{
    font-size: 26px;
    background-color: brown;
    color: cornsilk;
    border-radius: 42px;
    padding: 10px 24px 13px 18px;
    margin: 42px;
}
.sidebar nav{
    padding: 20px;
    margin-top: 12px;
}
.sidebar nav ul{
    margin-top: 85px;
}
.sidebar nav li{
    list-style: none;
    padding-top:25px;
    padding-bottom: 25px;
    font-size: 24px;
}
.sidebar nav a{
    text-decoration: none;
    color: rgb(117, 48, 16);
}
.sidebar nav a:hover{
    text-decoration: underline;
    transform-style: preserve-3d;
    font-size: 27px;
}
.containersalvin{
    display: flex;
}

.education{
    
    background: url('../img/bg1.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    width: 100%;
   
}


.com{
    background: url('../img/bg-m.jpg');
    background-position: center;
    background-size: cover;
    margin: 20px;
    margin-top: 58px;
    height: 85%;
    border-radius: 58px;

}



#textarea {
    width: 48vh;
    margin: 7px;
    margin-left: 24px;
    text-align: center;
    height: 30px;
    border-radius: 2px 22px 2px 20px;
    opacity: 0.8;
    color: black;
    font-size: 13px;
    font-weight: 600;
}
.message__area{
    height: 533px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 37px;
}
.message {
   
    max-width: 300px;
    position: relative;
    background: black;
    color: white;
    margin: 18px 10px 5px 11px;
    padding: 9px;
    width: fit-content;
    height: fit-content;
    font-size: 15px;
}
.incoming {
    
    border-radius: 17px 7px 9px 4px;
    background-color: #4342429c;
}
.outgoing {
    margin-left: auto;
    background-color: #030303;
    border-radius: 17px 7px 9px 4px;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #eb3232;
    font-size: 14px;
    font-family: system-ui;
    font-weight: 500;

}

/* ---------------------------------------courses---------------------       -----------------------*/
/*--------------------------------------------view based--------------------------------------*/
.view-based{
    margin-top: 2%;
    overflow-y: auto;
    background-color: white;
    margin-left: 14%;
    margin-right: 15%;
    border-radius: 64px;
    padding: 1cm;
    height: 81%;
    
}

.based-info{
    padding: 1cm;
}
.based-info h1{
    text-align: center;
    font-style: italic;
    color: brown;
}
.based-info h2{
    font-style: oblique;
    color: crimson;
}
.based-info hr{
    width: 36%;
    margin: auto;
}
.based-info p{
    margin-left: 30px;
    margin-top: 10px;
}
.sub-info{
    padding: 1cm;
    font-size: 1.25rem;
    margin-left: 3cm;
}
.sub-info hr{
    width: 91%;
    margin: auto;
}
.first-part{
    padding: 10px;
    font-weight: bold;
    margin-left: 58px;
}
.first-part span{
    margin-left: 51px;
    font-weight: 200;
}
/*-------------------new work*/
.medicine{
    max-height: 80vh;
    width: 90%;
    margin: auto;
}
.generalInfo{
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    padding: 70px 30px;
}
.generalInfo table{
    border-collapse: collapse;
    color: black;
    width: 100%;
    height: 100%;
    
    margin: auto;

}
.generalInfo tbody{
    border-radius: 10px;

}
.generalInfo th{
    color: #000;
    border: 2px solid rgb(14 13 13);
    text-align: center;
    width: 20%;
    font-size: 1.5rem;
    padding: 20px;

}
.generalInfo tr{
    color: #000;
    border: 2px solid rgb(14 13 13);
    text-align: center;
    width: 20%;
    font-size: 1.5rem;
    padding: 20px;

}
.generalInfo td{
    color: #000;
    border: 2px solid rgb(14 13 13);
    text-align: center;
    width: 20%;
    font-size: 1.25rem;
    padding: 20px;

}
.generalInfo h1{
    padding: 25px;
    font-weight: 900;

}
.dr{
    font-size: larger;
    color: crimson;
}
.quotes{
    text-align: center;
    font-size: 1.75rem;
    color: cadetblue;
    font-style: italic;
}

